.ToDoContainer {
    display: grid;
    column-gap: 10px;
    grid-template-columns: 60% 5% 5%;
    justify-content: center;
    margin-bottom: 2px;
}

 .ToDoPara, .editButton, .deleteButton {
    border: none;
    background-color: white;
    height: 50px;
    padding: 10px 10px;
}

.ToDoPara {
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 10px 0 0 10px;
    display: grid;
    align-content: center;
    font-size: 21px;
    overflow: auto;
    height: 50px;
}

.ToDoPara::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: black;
}

.ToDoPara::-webkit-scrollbar {
    width: 10px;
    cursor: pointer;
}

.ToDoPara::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: blueviolet;
    cursor: pointer;
}

.ToDoPara:focus {
    outline: none;
}

.editButton, .deleteButton {
    cursor: pointer;
    margin-top: 20px;
}

.editButton:hover {
    background-color: lightgreen;
    color: white;
}

.deleteButton:hover {
    background-color: lightgreen;
    color: white;
}

.deleteButton {
    border-radius: 0 10px 10px 0;
}


